.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  width: 100vw;
  overflow: auto;
  padding-top: 20px;
  div{
    text-align:  center;
    h2{
      padding: 10px;
    }
    p:not(p:nth-child(1)){
      padding: 0 0 20px 0;
    }
    &:last-child{
      padding: 20px;
    }
  }
}